<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{mails/layout}">
    <table
        layout:fragment="content"
        border="0" cellpadding="0" cellspacing="0" width="560" align="center" style="background: white; border: 1px solid #cdcdcd; border-radius: 8px; -webkit-box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.04); -moz-box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.04); box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.04); padding: 16px;"
    >
        <tr>
            <td valign="top" style="text-align: center; padding:0 24px;">
                <p>Hello !</p>
                <p>Please click the link below to validate your email address. This link will expire in 7 days.</p>
            </td>
        </tr>
        <tr>
            <td valign="middle" style="vertical-align: middle; text-align: center; padding:0 24px; height: 40px;">
                <a th:href="@{${link}}">Validate my email</a>
            </td>
        </tr>
    </table>
</html>
